h1 {
    text-align: center;
    margin-top: 40px;
}
.dashboard-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    margin: auto;

}

.btn-event {
    display: flex;
    text-align: center;
    height: 25px;
    width: 40%;
    margin: auto;
    justify-content: center;

}



.btn-container{    
display: flex;
justify-content: flex-end;
text-align: right;
}

.addevents{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.eventname , .eventaddress {
    display: flex;
    flex-direction: column;
}
.ant-btn-primary{
    display: flex;
    text-align: right;
    justify-content: flex-end;
}

.ant-pagination{

display: none;
}