h1 {
    text-align: center;
    margin-top: 40px;
}

.dashboard-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    margin: auto;

}

.btn-event {
    display: flex;
    text-align: center;
    height: 25px;
    width: 40%;
    margin: auto;
    justify-content: center;

}
.addevents{
    display: flex;
    flex-wrap: wrap;
}
.eventname , .eventaddress {
    display: flex;
    flex-direction: column;
}